@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

/*
    Colores:
        #0B2536 = azul-oscuro
        #0CBFED = CELESTE
        #C4C3C3 = GRIS
        #FAF3DD = BEIGE/CREMA
        #F7941D = AMARILLO
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

.body {
    background-color: #FAF3DD;
}

/* CSS navBar */

.navbar {
    background-color: #0B2536;
    animation-name: colorNav;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
}

@keyframes colorNav {
    0%{background-color: #0B2536;}
    50%{background-color: #153247;}
    100%{background-color: #0B2536;}
}

.navbar-brand img {
    width: 5rem;
    margin-left: 5rem;
}

.navbar-brand img:hover {
    animation-name: logoBounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}


@keyframes logoBounce {
    0%{transform: rotate(-5deg);}
    50%{transform: rotate(5deg);}
    100%{transform: rotate(-5deg);}
}

.navbar-nav {
    margin-right: 5rem;
}

.navbar-toggler {
    margin-right: 5rem;
}

@media (max-width: 480px) { 
    .navbar-brand img {
        width: 3rem;
        margin-left: 0rem;
    }
    
    .navbar-nav {
        margin-right: 5rem;
    }
    
    .navbar-toggler {
        margin-right: 0rem;
    }
    
}

/* CSS footer */

.footer {
    background-color: #0B2536;
    color:#FAF3DD;
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    .footer {
        font-size: 60%;
    }
}

/* CSS index.html */

.article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

.article1 h1 {
    color: #F7941D;
}

.article2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
}

.article3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.bannerMorde {
    width: 100vh;
}

@media (max-width: 480px) {
    .article1 {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 80%;
    }
    
    .article2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    
    .article3 {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 80%;
    }    
    .bannerMorde {
        width: 43vh;
    }
}

/* CSS champions.html */

.card {
    margin-top: 1rem;
}

.card-text {
    text-align: justify;
}

.card-title {
    text-align: center;
}

/* CSS commonBuilds.html */

.artCB {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artCB img {
    width: 5rem;
    padding: 0.1rem;
    margin-top: 0.2rem;
}

.artBoots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem ;
}

@media (max-width: 480px) {
    .artCB img {
        width: 6.5vh;
    }

    .artBoots {
        text-align: center;
    }
}

/* CSS tips.html */

.sectTips {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem ;
}

.sectTips div iframe {
    width: 560px; 
    height: 315px;
}

.sectTips h2 {
    text-align: center;
}

@media (max-width: 480px) {
    .sectTips div iframe {
        width: 240px; 
        height: 315px ;
    }    
}