.article1 {
    margin: 0 5rem 0;
    text-align: center;
}

.article1 h1 {
    color: $amarillo;
}

.article2 {
    margin: 0 5rem 0;
}

.article3 {
    margin: 1rem 5rem 1rem;
}

.artBoots {
    margin-bottom: 0.5rem ;
}